@page {
    margin: var(--margin);
    size: A4;
}

:root {
    --margin: 5mm;
    /* --illegal-zone-bg-color: rgba(247, 128, 128, 0.644);
    --recipient-address-bg-color: rgba(128, 213, 247, 0.644); */
    --illegal-zone-bg-color: transparent;
    --recipient-address-bg-color: transparent;
}


/* common stuff */

html {
    /* background: var(--illegal-zone-bg-color); */
    width: 210mm;
    height: 297mm;
}

body {
    position: relative;
    /* margin: var(--margin); */
    margin: 0;
    width: calc(100% - 2*var(--margin));
    height: calc(100% - 2*var(--margin));
    font-family: "helvetica";
    background: white;
    font-size: 10pt;
    border: var(--margin) solid var(--illegal-zone-bg-color);
}

p {
    margin-block-start: 0;
    margin-block-end: 2mm;
}


/* header block */

header {
    height: 100mm;
    position: relative;
    margin: calc(0mm - var(--margin));
}

#logo {
    position: absolute;
    top: var(--margin);
    left: var(--margin);
}

#logo img {
    height: 30mm;
}

#sender {
    position: absolute;
    top: calc(2*var(--margin));
    right: calc(2*var(--margin));
}

#postage-area {
    position: absolute;
    top: 40mm;
    left: 22mm;
    height: 20mm;
    width: 85.5mm;
    background: var(--illegal-zone-bg-color);
}

#recipient {
    position: absolute;
    top: 60mm;
    left: 22mm;
    height: 25.5mm;
    width: 85.5mm;
    background: var(--recipient-address-bg-color);
}


/* intro text */

#intro {
    padding: var(--margin) calc(2*var(--margin));
}


/*
 * bill
*/

#bill {
    padding: 0 calc(2*var(--margin));
}

#bill h1 {
    font-size: 14pt;
}


/* table */

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}


/* presations table */

#prestations {
    width: 100%;
    padding-bottom: 2mm;
    border-bottom: 0.25mm solid black;
}

#prestations .table-cell {
    text-align: right;
}

#prestations .table-head .table-cell {
    font-weight: bold;
    padding-bottom: 2mm;
    border-bottom: 0.25mm solid black;
}

#prestations .table-row:nth-child(2) .table-cell {
    padding-top: 2mm;
}

#prestations .table-row .table-cell:first-child {
    width: auto;
    text-align: left;
}

#prestations .table-price {
    text-align: right !important;
}

#prestations .table-unit {
    text-align: left !important;
}


/* total table */

#total {
    width: 60mm;
    margin: var(--margin) 0 0 auto;
}

#total .table-cell {
    padding: 2mm 0 1mm 0;
}

#total .table-row:first-child .table-cell {
    border-bottom: 0.5mm solid black;
}

#total .table-row:nth-child(2) .table-cell {
    border-bottom: 0.75mm solid black;
}

#total .table-row .table-cell:first-child {
    font-weight: bold;
}

#total .table-cell:nth-child(2) {
    text-align: right;
}


/* qr bill */

#qr-bill {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: calc(0mm - var(--margin));
}