<html>

<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>

    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='logo_ptl.png') }}" alt="">
        </div>

        <div id="sender">
            <div><b>Post Tenebras Lab</b></div>
            <div>Avenue de la Praille 36</div>
            <div>CH - 1227 Carouge</div>
            <div>Tél.: 022 566 01 87</div>
            <div>comite@posttenebraslab.ch</div>
        </div>

        <div id="postage-area"></div>

        <div id="recipient">
            <div>{{recipient.name}}</div>
            <div>{{recipient.street}}</div>
            <div>{{recipient.pcode}} {{recipient.city}}</div>
            <div>{{recipient.country}}</div>
        </div>
    </header>

    <!-- <div id="intro">
        <p>Cher(e) membre, voici enfin ta facture de cotisation pour l'année courante.</p>
        <p>Malgré un debut d'année mouvementé, nous avons hâte de te retrouver maintenant que les activités hebdomadaires ont repris.
        </p>
        <p>Bien à toi, ton comité qui t'aime</p>
    </div> -->

    <div id="bill">
        <h1>Facture</h1>
        <p id="reference">N° de référence {{bill.reference_number}}</p>
        <div id="prestations" class="table">
            <div class="table-row table-head">
                <div class="table-cell">Prestation</div>
                <div class="table-cell">Quantité</div>
                <div class="table-cell table-price">Prix / <span>&#8203;</span></div>
                <div class="table-cell table-unit">Unité</div>
                <div class="table-cell">Total</div>
            </div>
            {% for prestation in bill.prestations %}
            <div class="table-row">
                <div class="table-cell">{{ prestation.name }}</div>
                <div class="table-cell">{{ prestation.quantity }}</div>
                <div class="table-cell table-price">{{ "%.2f" | format(prestation.price) }} / <span>&#8203;</span></div>
                <div class="table-cell table-unit">{{ prestation.unit }}</div>
                <div class="table-cell">{{ "%.2f" | format(prestation.quantity * prestation.price) }}</div>
            </div>
            {% if prestation.description %}
            <div class="table-row">
                <div class="table-cell"><i>{{ prestation.description }}</i></div>
            </div>
            {% endif %} {% endfor %}
        </div>

        <div id="total" class="table">
            <div class="table-row">
                <div class="table-cell">Sous-total</div>
                <div class="table-cell">CHF {{ "%.2f"|format(bill.total) }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Total</div>
                <div class="table-cell">CHF {{ "%.2f"|format(bill.total) }}</div>
            </div>
        </div>
        <img id="qr-bill" src="data:image/svg+xml;base64,{{ qr_bill_svg }}" />
    </div>
</body>

</html>